@import 'variables';

.hero {
	min-height: 560px;
	background-color: #f5f1ee;
	@media only screen and (min-width: 1200px) {
  	background-image: url(../img/bg-home-hero.jpg);		
	}
  background-size: cover;
}
.hero-title {
	font-family: 'Lato', sans-serif;
	line-height: 1.25;
	font-size: 38px;
	font-weight: 300;
}
.hero-lunching-soon {
	position: relative;
	margin-top: 70px;
	margin-bottom: 60px;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-style: italic;
	font-weight: 400;
	&:before,
	&:after {
	  width: 110px;
	  position: absolute;
	  top: 0.73em;
	  border-top: 1px solid $black;
		@media only screen and (min-width: 1200px) {
	  	content: '';
	  	display: inline-block;			
		}
	}
	&:before {
	  left: 140px;
	}
	&:after {
	  right: 140px;
	}
}
.hero-form {
  display: inline-block;
	max-width: 400px;
	.input-group {
		* {
    	border-radius: 0;
    }
	}
}
.join-the-waitlist {
	min-height: 645px;
	background-color: #f5f1ee;
	@media only screen and (min-width: 1200px) {
  	background-image: url(../img/bg-home-3.jpg);
	}
  background-size: cover;
  background-position: left top;
}
.join-form {
  display: inline-block;
	max-width: 480px;
	.input-group {
		left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    * {
    	border-radius: 0;
    }
	}
	.fa-check {
		margin-right: 10px;
	}
}
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 479px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 319px) {}
