.hero {
	min-height: 560px;
  background-image: url(../img/bg-home-hero.jpg);
  background-size: cover;
}
.hero-form {
  display: inline-block;
	max-width: 400px;
	.input-group {
		* {
    	border-radius: 0;
    }
	}
}
.join-the-waitlist {
	min-height: 645px;
  background-image: url(../img/bg-home-3.jpg);
  background-size: cover;
  background-position: left top;
}
.join-form {
  display: inline-block;
	max-width: 480px;
	.input-group {
		left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    * {
    	border-radius: 0;
    }
	}
	.fa-check {
		margin-right: 10px;
	}
}
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 479px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 319px) {}
