@import 'variables';

.hero {
	min-height: 560px;
	background-color: #f5f1ee;
	@media only screen and (min-width: 1200px) {
  	background-image: url(../img/bg-home-hero.jpg);		
	}
  background-size: cover;
}
.hero-txt-01 {
	font-family: 'Lato', sans-serif;
	line-height: 1.25;
	font-size: 38px;
	font-weight: 300;
}
.hero-txt-02 {
	position: relative;
	margin-top: 70px;
	margin-bottom: 60px;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-style: italic;
	font-weight: 400;
	&:before,
	&:after {
	  width: 110px;
	  position: absolute;
	  top: 0.73em;
	  border-top: 1px solid $black;
		@media only screen and (min-width: 1200px) {
	  	content: '';
	  	display: inline-block;			
		}
	}
	&:before {
	  left: 140px;
	}
	&:after {
	  right: 140px;
	}
}
.hero-txt-03 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 22px;
}
.hero-txt-04 {
	margin-bottom: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 26px;
}
.hero-txt-05 {
	margin-top: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 13px;
}
.hero-form {
  display: inline-block;
	max-width: 400px;
	.input-group {
		* {
    	border-radius: 0;
    }
	}
}
.title-sm {
	font-size: 18px;
	font-weight: 700;
}
.btn-sign-me-up {
	color: $white;
	background-color: $blue2;
	&:hover, &:focus {
		color: $white;
	}
}
.video-container {
	max-width: 847px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	.title-sm, p {
		max-width: 525px;
		margin: 0 auto;
	}
	p {
		position: relative;
		margin-top: 25px;
		margin-bottom: 60px;
		font-size: $font-16;
		&:after {
			position: relative;
			top: 35px;
			display: block;
			width: 60px;
			height: 5px;
			margin: auto;
			content: "";
			background: $blue2;
		}
	}
}
.scroll-animation {
	background-color: $bg-gray-home;
  	background-image: url(../img/bg-wood.jpg);
  	background-size: contain;
	@media only screen and (min-width: 768px) {
  	background-image: url(../img/bg-wood.jpg);
	}
}
.title-md {
	position: relative;
	margin-bottom: 70px;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
	&:after {
		position: relative;
		top: 10px;
		display: block;
		width: 60px;
		height: 5px;
		margin: auto;
		content: "";
		background: $blue2;
	}
}
.how-it-works {
	.title-md {
		text-align: center;
	}
	img {
		float: left;
		margin-right: 30px;
	}
	.mid {
		img {
			margin-right: 10px;
		}
	}
	p {
		overflow: auto;
	}
	@media only screen and (min-width: 768px) {
		text-align: center;
		img {
			float: none;
			margin-right: 0;
		}
		.title-sm {
			margin-top: 55px;
			margin-bottom: 15px;
		}
		.mid {
			img {
				margin-right: 0;
			}
		}	
	}
}
.join-the-waitlist {
	min-height: 645px;
	background-color: #f5f1ee;
	@media only screen and (min-width: 1200px) {
  	background-image: url(../img/bg-home-3.jpg);
	}
  background-size: cover;
  background-position: left top;
}
.join-form {
  display: inline-block;
	max-width: 480px;
	.input-group {
		left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    * {
    	border-radius: 0;
    }
	}
	.fa-check {
		margin-right: 10px;
	}
}
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 479px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 319px) {}
