$color: aqua;
$black: #000;
$white: #fff;
$bg-dark: #363636;
$bg-gray: #f0eded;
$bg-gray-home: #e6e6e6;
$border-gray: #c8c8c8;
$bg-footer: #363636;
$blue: #6fadd9;
$blue2: #34bbbe;
$green: #5bc1af;
$green-dark: #28999b;
$txt-col-01: #555;
$txt-col-02: #4f4f4f;
$txt-col-03: #6a6a6a;
$txt-blue: #34bbbe;

$font-16: 16px; 
.font-16px {
	font-size: $font-16;
}
p.font-16px {
	line-height: 1.75;
}