$color: aqua;
$black: #000;
$white: #fff;
$bg-dark: #363636;
$bg-gray: #f0eded;
$border-gray: #c8c8c8;
$bg-footer: #363636;
$blue: #6fadd9;
$green: #5bc1af;
$green-dark: #28999b;
$txt-col-01: #555;
$txt-col-02: #4f4f4f;
$txt-col-03: #6a6a6a;