$color: aqua;
$black: #000;
$white: #fff;
$bg-dark: #363636;
$bg-gray: #f0eded;
$border-gray: #c8c8c8;
$bg-footer: #363636;
$blue: #6fadd9;
$green: #5bc1af;
$green-dark: #28999b;
$txt-col-01: #555;
$txt-col-02: #4f4f4f;
$txt-col-03: #6a6a6a;


span, a, strong {
  display: inline-block;
}
.surveyPage {
  font-size: 20px;
  color: $black;
  .container {
    padding-top: 60px;
    padding-bottom: 50px;
  } 
  p {
    margin-bottom: 25px;
  }
  strong {
    font-weight: 700;
  }
  .btn {
    min-width: 155px;
    margin-top: 50px;
    font-size: 18px;
    color: $white;
    background-color: darken($blue , 10);
    border-radius: 0;
    border: 0;
    &:focus {
      color: $white;
      background-color: darken($blue , 10);
    }
  }
}
.header {
  line-height: 80px;
  background-color: $black;
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.bg-dark {
  background-color: $bg-dark;
}
.bg-gray {
  background-color: $bg-gray;
}
.m-t-0 {
  margin-top: 0;
}
.m-t-13 {
  margin-top: 13px;
}
.m-t-md-10 {
   @media only screen and (min-width: 768px) {
    margin-top: 10px !important;
  } 
}
.p-l-0 {
  padding-left: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  // background: red;
}

@media screen and (min-width: 768px) {
  body {
    // background: blue;
  }
}

@media only screen and (min-width: 992px) {
  body {
    // background: orange;
  }
}

@media screen and (min-width: 1200px) {
  body {
    // background: $color;
  }
}


.title-optional {
  margin-bottom: 30px;
  font-size: 26px;
}
.green-underline {
  padding-bottom: 80px;
  &:after {
    position: relative;
    top: 25px;
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: $green-dark;
  }
}

.checkbox label {
  padding-left: 10px;
  &:before {
    top: 6px;
  }
  &:after {
    padding-top: 2px;
    font-size: 18px;
    color: #5bc1af;
  } 
}

.checkbox input[type=checkbox],
.radio input[type=radio] {
  cursor: pointer;  
}

.checkbox input[type=checkbox]:focus + label::before,
.radio input[type=radio]:focus + label::before {
    outline: #fff;
}

.ie8 {
  .radio,
  .checkbox {
    input {
      margin-top: 10px;      
    }
  } 
}

.how-tall {
  min-height: 315px;
  @media only screen and (min-width: 768px) {
    min-height: 285px;
  }
}
.form-units {
  .col-sm-2 {
    font-weight: 400;
  }
}
.radio label {
  padding-left: 10px;
  &:before {
    top: 6px;
  }
  &:after {
    top: 9px;
    background-color: #5bc1af; 
  }   
}  
.input-cm {
  display: none;
}
.input-feet-inch {
  .form-control {
    display: inline-block;
  }
}

.container-narrow {
  margin-top: 40px;
  @media only screen and (min-width: 1200px) {
    max-width: 1100px;
  }
}

.form-units input[type="text"] {
  width: 85px;
  margin-left: 15px;
  text-align: right;
}
.owl-carousel {
  .owl-item {
    img {
      width: 250px;
      height: 375px;
      margin: 0 auto;
    }  
  }
  span {
    opacity: 1;
    cursor: pointer;
    transition: opacity .2s; 
  }  
  .fa-check {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    font-size: 60px;
    color: $green;
  }
}

.owl-nav {
  color: #6fadd9;
  font-size: 2em;
}
.owl-prev, 
.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -16px; 
  @media only screen and (min-width: 1200px) {
    margin-top: -32px;
  } 
}
.owl-prev {
  left: -10px;
  @media only screen and (min-width: 1200px) {
    left: -50px;    
  }
  &.disabled {
    display: none;
  }
}
.owl-next {
  right: -10px;
  @media only screen and (min-width: 1200px) {
    right: -50px;     
  }
  &.disabled {
    display: none;
  }
}
.owl-dots {
  display: none;
}

.container-narrow-p-x-30 {
  margin-top: 35px;
  @media only screen and (min-width: 1200px) { 
    max-width: 1100px;
    padding-left: 12.5px;
    padding-right: 17.5px;
  }
  .col-sm-6 {
    position: relative;
    margin-bottom: 20px;
  }
  img {
    max-width: 250px;
  }
  .fa-check {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    font-size: 60px;
    color: $green;
  }
  span {
    opacity: 1;
    cursor: pointer;
    border: 1px solid $border-gray; 
    transition: opacity .2s; 
  }  
}
.opacity-33 {
  opacity: 0.33 !important;
}

.footer {
  font-size: 14px;
  background-color: $bg-dark;
  color: $white;
  a {
    color: inherit;
  }
  .col-sm-4 {
    padding-left: 0;
    @media only screen and (min-width: 768px) {
      text-align: right;
    }
  }
  .social {
    font-size: 26px;
    .fa-twitter {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .copy {
    margin-top: 20px;
    a {
      @media only screen and (min-width: 480px) {
        padding-right: 10px;
        & + a {
          padding-left: 10px;
        }        
      }
    }
  }
  .logo {
    margin-top: 30px;
    @media only screen and (min-width: 768px) {
      margin-top: 0;
    }
    margin-bottom: 30px;
  }
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 479px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 319px) {}
